<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Latest Update</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label"> Title
                                                        <span class="text-danger">*</span>
                                                    </label>

                                                        <div class="col-lg-4">
                                                            <input type="text" class="form-control" name="title" value="<%=data.title%>" placeholder="Enter title...">
                                                            <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                            <input name='_id' value='<%=data._id%>' style="display:none;">
                                                        </div>
                                                      
                                                </div>

                                              

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="bannerImage" type="file" class="custom-file-input" value="<%=data.bannerImage%>">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.bannerImage%>" >
                                                            <label>Recommended Size 1600 * 553 </label>
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Logo Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="bannerImageAlt" placeholder="Enter image alt..." value="<%=data.bannerImageAlt%>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row"> 
                                                    <label class="col-lg-2 col-form-label">Slug URL
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" value="<%=data.slug%>" placeholder="Enter slug..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row"> 
                                                    <label class="col-lg-2 col-form-label">Date
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="date" class="form-control" name="date" value="<%=data.date%>" placeholder="Enter date..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea name="description" class="form-control summernote" cols="30" rows="5"><%=data.description%></textarea>
                                                    </div>
                                                </div>
                                                       

                                                <div class="customize_section-misc">
                                                    <% for (let partnerIcon of data.partnerIconData) { %>
                                                    <div class="form-group row new-gallery previous-misc-row">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Image
                                                                <span class="text-danger"></span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <img class="small_image mt-2 mb-3 image-selected" src="<%= partnerIcon.partnerIcon%>" >
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Image Alt
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%= partnerIcon.partnerIconAlt%>
                                                            </div>
                                                        </div>

                                                        
                                                        
                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 remove_misc_row" data-id="<%= partnerIcon._id%>" type="button"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                    <div class="row">
                                                        <div class="col-8">
                                                        </div>
                                                        <div class="col-4 add-btns">
                                                            <button type="button" class="btn btn-primary add_misc_row"> Add</button>
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
       
const appendMiscHTML = `<div class="form-group row new-gallery">

<div class="col-lg-4">
    <label class="col-lg-12 col-form-label">Image
        <span class="text-danger">*</span>
    </label>
    <div class="col-lg-12">
        <div class="custom-file">
            <input name="partnerIcon" type="file" class="custom-file-input" required>
            <label class="custom-file-label">Choose Image file</label>
        </div>
    </div>
</div>

    <div class="col-lg-4">
        <label class="col-lg-12 col-form-label">Image Alt
            <span class="text-danger">*</span>
        </label>
        <div class="col-lg-12">
            <input type="text" class="form-control" name="partnerIconAlt" placeholder="Enter image alt..." required>
        </div>
    </div>

<div class="col-lg-2 mt--35">
<button class="btn btn-danger remove_row-misc" type="button"><i class="fa fa-minus"></i></button>
<button class="btn btn-primary add_misc_row" type="button"><i class="fa fa-plus"></i></button>
</div>
</div>`;

        $(document).on('click', '.add_row', function() {
            $('.customize_section').append(appendHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        // $(document).on('click', '.remove_row', function() {
        //     $(this).parents('.new-gallery').remove();
        // });

        $(document).on('click', '.add_misc_row', function() {
            $('.customize_section-misc').append(appendMiscHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row-misc', function() {
            $(this).parents('.new-gallery').remove();
        });

        // let delete_banner_rows = [];

        // $(document).on('click', '.remove_banner_row', function() {
        //     delete_banner_rows.push($(this).data('id'));
        //     $(this).parents('.previous-banner-row').remove();
        // });

        let delete_misc_rows = [];

        $(document).on('click', '.remove_misc_row', function() {
            delete_misc_rows.push($(this).data('id'));
            $(this).parents('.previous-misc-row').remove();
        });
        
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));
             //   formData.append('delete_banner_rows', delete_banner_rows);
                formData.append('delete_misc_rows', delete_misc_rows);

                const resp = await asyncPost('/cms/latest/edit','' ,formData); 
                
                if (resp.success) {
                    alert('Latest Update Updated Successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });


        
    </script>
</body>

</html>