<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit banner</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="edit-form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Banner Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="bannerTitle" placeholder="Enter title..." value="<%=data.bannerTitle%>">
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
												        <input name='_id' value='<%=data._id%>' style="display:none;">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Slider
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select name="slider" class="single-select select-tag-slider select-post-type d-block" required>
                                                            <% for (let slider of slider_data) { %>
                                                                <option value="<%= slider._id%>"><%= slider.title%></option>
                                                            <% } %>
        
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Banner Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="bannerImage" type="file" class="custom-file-input" value="<%=data.bannerImage%>">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.bannerImage%>" >
                                                            <!-- <label>Recommended Size 1600 * 553 </label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="bannerImageAlt" placeholder="Enter image alt..." value="<%=data.bannerImageAlt%>" required>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Mobile Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="mobileImage" type="file" class="custom-file-input" value="<%=data.mobileImage%>">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.mobileImage%>" >
                                                            <!-- <label>Recommended Size 450 * 600 </label> -->
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Banner Position
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="number" min="0" class="form-control" name="position" placeholder="Enter position..." value="<%=data.position%>">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Brand
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select name="brand_id" class="form-control select-tag-brand">
                                                            <option value="">Select</option>
                                                            <% for(var i=0; i< brand_data.length; i++) {%>
                                                                
                                                            <option value="<%=brand_data[i]._id%>"><%=brand_data[i].brandName%></option>
                                                            <%}%>
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Product
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select name="product_id" class="form-control select-tag-product">
                                                            <option value="">Select</option>
                                                            <% for(var i=0; i< product_data.length; i++) {%>                                            
                                                            <option value="<%=product_data[i]._id%>"><%=product_data[i].productName%></option>
                                                            <%}%>
                                                            
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=true
                                                                name="status" id="enable">Enable
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=false
                                                            name="status" id="disable">Disable
                                                        </label>
                                                    </div>
                                                </div>
                                                <label class="col-lg-2 col-form-label">Banner URL
                                                </label>
                                                <div class="col-lg-4">
                                                    <input type="text"  class="form-control" name="url" placeholder="Enter url..." value="<%=data.url%>">
                                                </div>
                                                </div>  

                                            <div class="col-xl-12">
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        $(document).ready(function() {

            $('.select-tag-slider').val(<%- JSON.stringify(data.slider ? data.slider : "")%>).trigger('change');
            $('.select-tag-brand').val(<%- JSON.stringify(data.brand_id ? data.brand_id : "")%>).trigger('change');
            $('.select-tag-product').val(<%- JSON.stringify(data.product_id ? data.product_id : "")%>).trigger('change');


            let checkbox = <%=data.status%> 
            if (checkbox) {
                document.getElementById("enable").checked = true;
            } else {
                document.getElementById("disable").checked = true;
            }

            $('#enable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("disable").checked = false;
                }
            });

            $('#disable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("enable").checked = false;
                }
            });

        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                console.log(formData);

                const resp = await asyncPost('/cms/banner/edit', '', formData);

                console.log(formData);

                if (resp && resp.success) {
                    alert('Banner updated successfully');
                    // window.location.href = window.location.href;
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }


        });

        
    </script>
</body>

</html>