<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Innovations Detail General</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title" placeholder="Enter title..." value="<%=data.title%>" required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                        <input type="hidden" name="_id" value="<%=data._id%>">
                                                    </div>


                                                    <label class="col-lg-2 col-form-label">Second Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="name" placeholder="Enter title..." value="<%=data.name%>" required>
                                                       
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Innovations
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="innovation" id="innovation" class="form-control" required>
                                                        <option value="">Select Innovations </option>
                                                        <% for (let innovation of innovations_data) { %>
                                                            <option value="<%= innovation._id%>"><%= innovation.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>

                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="description" value="<%=data.description%>" required><%=data.description%></textarea>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Sub Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="secDesc" value="<%=data.secDesc%>" required><%=data.secDesc%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Benefits Description
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="benefitDesc" value="<%=data.benefitDesc%>" required><%=data.benefitDesc%></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Slug
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" placeholder="Enter title..." value="<%=data.slug%>" required>
                                                    </div>
                                                       
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="image" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%=data.image%>" >
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="imageAlt" value="<%=data.imageAlt%>" placeholder="Enter image alt...">
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Second Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="secImage" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%=data.secImage%>" >
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Second Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="secImageAlt" value="<%=data.secImageAlt%>" placeholder="Enter image alt...">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Button Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="buttonTitle" placeholder="Enter button title..."  value="<%=data.buttonTitle%>">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Button URL
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="buttonLink" placeholder="Enter button url..."  value="<%=data.buttonLink%>">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="metaTitle" placeholder="Enter meta title..."  value="<%=data.metaTitle%>">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="metaDescription" value="<%=data.metaDescription%>"><%=data.metaDescription%></textarea>
                                                    </div>
                                                </div>
                                              

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        
        $(document).ready(function() {
            $('.select-tag-slider').val(<%- JSON.stringify(data.slider ? data.slider : "")%>).trigger('change');
            $('#innovation').val(<%- JSON.stringify(data.innovation ? data.innovation : "")%>).trigger('change');

        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/innovationsdetail/edit','' ,formData);               
                
                if (resp.success) {
                    alert('Innovations Detail updated successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });

        
    </script>
</body>

</html>