<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.png">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit We Loved</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="edit-form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="heading" value="<%=data.heading%>" placeholder="Enter name...">
												        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
												        <input name='_id' value='<%=data._id%>' style="display:none;">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Category Reference
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="categoryRef" id="categoryRef" class="single-select select-post-type d-block select-tag-categoryRef" >
                                                        <% for (let category of categoryref) { %>
                                                            <option value="<%= category.value%>"><%= category.label%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>
                                                </div>
                                                

                                                <div class="form-group row">
                                                    <label class="col-lg-1 col-form-label"> Image (Left) <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <div class="custom-file">
                                                            <input name="bg_image_url" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose file</label>
                                                            <img class="small_image mt-2 mb-3" src="<%= data.bg_image_url%>" >
                                                            <label>Recommended Size 250 * 350 </label>
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-1 col-form-label" >Alt Tag<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <input type="text" class="form-control" value='<%=data.bg_alt%>' name="bg_alt" placeholder="Enter bg alt...">
                                                    </div>

                                                    <label class="col-lg-1 col-form-label">Link 1
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                    <select name="link1" class="single-select select-post-type d-block select-tag-link1" >
                                                        <% for (let product of products_list) { %>
                                                            <option value="<%= product._id%>"><%= product.productName%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group row">
                                                    <label class="col-lg-1 col-form-label"> Image (Left) <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <div class="custom-file">
                                                            <input name="bg_image_url1" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose file</label>
                                                            <img class="small_image mt-2 mb-3" src="<%= data.bg_image_url1%>" >
                                                            <label>Recommended Size 250 * 350 </label>
                                                        </div>
                                                    </div> 
                                                    
                                                    <label class="col-lg-1 col-form-label" >Alt Tag<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <input type="text" class="form-control" value='<%=data.bg_alt1%>' name="bg_alt1" placeholder="Enter bg alt...">
                                                    </div>

                                                    <label class="col-lg-1 col-form-label">Link 2
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                    <select name="link2" class="single-select select-post-type d-block select-tag-link2" >
                                                        <% for (let product of products_list) { %>
                                                            <option value="<%= product._id%>"><%= product.productName%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>
                                                </div>

                                                
                                                <div class="form-group row">
                                                    <label class="col-lg-1 col-form-label"> Image (Right) <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <div class="custom-file">
                                                            <input name="bg_image_url2" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose file</label>
                                                            <img class="small_image mt-2 mb-3" src="<%= data.bg_image_url2%>" >
                                                            <label>Recommended Size 250 * 350 </label>
                                                        </div>
                                                    </div>

                                                                                
                                                    <label class="col-lg-1 col-form-label" >Alt Tag<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                        <input type="text" class="form-control" value='<%=data.bg_alt2%>' name="bg_alt2" placeholder="Enter bg alt...">
                                                    </div>

                                                    <label class="col-lg-1 col-form-label">Link 3
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-3">
                                                    <select name="link3" class="single-select select-post-type d-block select-tag-link3" >
                                                        <% for (let product of products_list) { %>
                                                            <option value="<%= product._id%>"><%= product.productName%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Button Name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="button_name" value="<%=data.button_name%>" placeholder="Enter name...">

                                                     </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Link
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="link" value="<%=data.link%>" placeholder="Enter link...">

                                                     </div>
                                                </div>

                                                

                                               
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea name="description" class="form-control summernote" cols="30" rows="5"><%=data.description%></textarea>
                                                    </div>
                                                </div>

                                                

                                                

                                                

                                                
                                               

                                               
                                            </div>
                                            <div class="col-xl-12">
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        $(document).ready(function() {
            $('.select-tag-categoryRef').val(<%- JSON.stringify(data.categoryRef ? data.categoryRef : "")%>).trigger('change');
            $('.select-tag-link1').val(<%- JSON.stringify(data.link1 ? data.link1 : "")%>).trigger('change');
            $('.select-tag-link2').val(<%- JSON.stringify(data.link2 ? data.link2 : "")%>).trigger('change');
            $('.select-tag-link3').val(<%- JSON.stringify(data.link3 ? data.link3 : "")%>).trigger('change');
        });
      
       
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/we_loved/edit', '', formData);

                console.log(formData);

                if (resp && resp.success) {
                    alert('We Loved updated successfully');
                    window.location.href = window.location.href;
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }


        });

        
    </script>
</body>

</html>