<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Products</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Product Name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="productName" placeholder="Enter Product Name..." required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">SKU
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="sku" placeholder="Enter Product SKU..." required>
                                                    </div>

                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="parentCategory[]" id="parentCategory" class="form-control select-tag select-tag-parentCategory multi-select" multiple="multiple" required>
                                                        <% for (let parentCategory of parent_categories) { %>
                                                            <option value="<%= parentCategory._id%>"><%= parentCategory.categoryName%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Category Reference
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="categoryRef[]" id="categoryRef" class="form-control select-tag select-tag-categoryRef multi-select doctor-categoryRef" multiple="multiple" required>
                                                        <% for (let category of category_data) { %>
                                                            <option value="<%= category.value%>"><%= category.label%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Weight
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="weight" onkeypress="return onlyNumberKey(event)" placeholder="Enter Weight..." >
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Product Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="productDescription" ></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Sub Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="subTitle" ></textarea>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Price
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="price" onkeypress="return onlyNumberKey(event)" placeholder="Enter Price..." >
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Product Availability
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="productAvailability" class="single-select select-post-type d-block" required>
                                                        <option value="enabled">Enabled</option>
                                                        <option value="disabled">Disabled</option>
                                                    </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Quantity
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="quantity" onkeypress="return onlyNumberKey(event)" placeholder="Enter Quantity..." >
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Product Slug
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" placeholder="Enter slug..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">SEO Slug
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="seoSlug" placeholder="Enter slug..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">SEO Meta Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="seoMetaTitle" placeholder="Enter meta title...">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">SEO Meta Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="seoMetaDescription"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Brand
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="brand" class="single-select select-post-type d-block" >
                                                        <% for (let brand of brand_data) { %>
                                                            <option value="<%= brand._id%>"><%= brand.brandName%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">360° URL
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="url360" placeholder="Enter url...">
                                                    </div>
                                                </div>

                                                <hr>
                                                <h5>Attributes </h5>

                                                <% for(var i = 0; i < attribute_data.length; i++) {
                                                    if(attribute_data[i].attribute_type === "radio-buttons") { %>
                                                    <div class="form-group row">
                                                        <label class="col-lg-2 col-form-label"><%=attribute_data[i].name%>
                                                            <span class="text-danger">*</span>
                                                        </label>
                                                        <div class="col-lg-4">
                                                            <% for (let related_attribute of attribute_data[i].related_attribute_value) { %>
                                                                <div class="form-check form-check-inline">
                                                                    <label class="form-check-label">
                                                                        <input type="radio" class="form-check-input" value="<%=related_attribute._id%>"
                                                                            name="attribute_key_<%=attribute_data[i].slug%>" id="<%=related_attribute._id%>"><%=related_attribute.value%>
                                                                    </label>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                    </div>
                                                    <% } else if(attribute_data[i].attribute_type === "input") { %>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><%=attribute_data[i].name%>
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <input type="text" class="form-control" name="attribute_key_<%=attribute_data[i].slug%>" placeholder="Enter <%=attribute_data[i].name%>...">
                                                            </div>
                                                        </div>
                                                    <% } else if(attribute_data[i].attribute_type === "drop-down") { %>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><%=attribute_data[i].name%>
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select name="attribute_key_<%=attribute_data[i].slug%>" class="single-select select-post-type d-block">
                                                                    <% for (let related_attribute of attribute_data[i].related_attribute_value) { %>
                                                                        <option value="<%= related_attribute._id%>"><%= related_attribute.value%></option>
                                                                    <% } %>                
                                                                </select>
                                                            </div>
                                                        </div>
                                                    <% } else if(attribute_data[i].attribute_type === "multiselect") { %>
                                                        <div class="form-group row">
                                                            <label class="col-lg-2 col-form-label"><%=attribute_data[i].name%>
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-4">
                                                                <select name="attribute_key_<%=attribute_data[i].slug%>[]" class="form-control select-tag multi-select" multiple="multiple">
                                                                    <% for (let related_attribute of attribute_data[i].related_attribute_value) { %>
                                                                        <option value="<%= related_attribute._id%>"><%= related_attribute.value%></option>
                                                                    <% } %>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    <% } %>
                                                <% } %>

                                                <hr>

                                                <div class="customize_section-cluster">
                                                    <div class="form-group row new-gallery">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Cluster Icon
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="clusterIcon" type="file" class="custom-file-input">
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 153 * 53</label> -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Cluster Icon Alt
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="clusterIconAlt" placeholder="Enter cluster icon alt...">
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Cluster Description
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <textarea class="form-control" rows="4" id="comment" name="clusterDescription"></textarea>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 add_row-cluster" type="button"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="customize_section-misc">
                                                    <div class="form-group row new-gallery">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Product Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="productImage" type="file" class="custom-file-input" required>
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 153 * 53</label> -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Product Image Alt
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="productImageAlt" placeholder="Enter banner image alt..." required>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Position
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="position" onkeypress="return onlyNumberKey(event)" placeholder="Enter position..." required>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 add_row-misc" type="button"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>

        const appendMiscHTML = `<div class="form-group row new-gallery">

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Product Image
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <div class="custom-file">
                        <input name="productImage" type="file" class="custom-file-input" required>
                        <label class="custom-file-label">Choose Image file</label>
                        <!-- <label>Recommended Size 153 * 53</label> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Product Image Alt
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="productImageAlt" placeholder="Enter banner image alt..." required>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Position
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="position" onkeypress="return onlyNumberKey(event)" placeholder="Enter position..." required>
                </div>
            </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row-misc" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_row-misc" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`;

        const appendClusterHTML = `<div class="form-group row new-gallery">

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Cluster Icon
                </label>
                <div class="col-lg-12">
                    <div class="custom-file">
                        <input name="clusterIcon" type="file" class="custom-file-input">
                        <label class="custom-file-label">Choose Image file</label>
                        <!-- <label>Recommended Size 153 * 53</label> -->
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Cluster Icon Alt
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="clusterIconAlt" placeholder="Enter cluster icon alt...">
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Cluster Description
                </label>
                <div class="col-lg-12">
                    <textarea class="form-control" rows="4" id="comment" name="clusterDescription"></textarea>
                </div>
            </div>
                                                        
                <div class="col-lg-2 mt--35">
                    <button class="btn btn-danger remove_row-cluster" type="button"><i class="fa fa-minus"></i></button>
                    <button class="btn btn-primary add_row-cluster" type="button"><i class="fa fa-plus"></i></button>
                </div>
            </div>`

        $(document).on('click', '.add_row-misc', function() {
            $('.customize_section-misc').append(appendMiscHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row-misc', function() {
            $(this).parents('.new-gallery').remove();
        });

        $(document).on('click', '.add_row-cluster', function() {
            $('.customize_section-cluster').append(appendClusterHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row-cluster', function() {
            $(this).parents('.new-gallery').remove();
        });
        
        $(document).ready(function() {

        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/products/add','' ,formData);               
                
                if (resp.success) {
                    alert('Product created successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });

        
    </script>

<script> 
	function nameValidater(evt) {
		var inputValue = (evt.which) ? evt.which : evt.keyCode
		if (!(inputValue >= 65 && inputValue <= 93) && (inputValue <= 95 && inputValue <= 120) && (inputValue != 32 && inputValue != 0 && inputValue != 28) )
			return false;
		return true;
	} 
	function onlyNumberKey(evt) { 

		var ASCIICode = (evt.which) ? evt.which : evt.keyCode 

		if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 

		return false; 

		return true; 

		} 
</script>
</body>

</html>