<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('styles') -%>
</head>

<body>

    
    <%- include('preloader') -%>
    
    <div id="main-wrapper">

       <%- include('nav-header') -%>
       
       <%- include('header') -%>
       
       <%- include('sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <!-- /# column -->
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->


        <%- include("footer") -%>
        
    </div>
    <%- include("scripts") -%>

</body>

</html>