<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Hospital</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="edit-form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Hospital Name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="hospitalName" placeholder="Enter name..." value="<%=data.hospitalName%>" required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
												        <input name='_id' value='<%=data._id%>' style="display:none;">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Hospital Location
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="hospitalLocation" class="single-select select-tag-location select-post-type d-block" required>
                                                        <% for (let location of location_data) { %>
                                                            <option value="<%= location._id%>"><%= location.city%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Star Rating
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="number" class="form-control" name="starRating" placeholder="Enter star rating..." value="<%=data.starRating%>" required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Service Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="serviceTitle" placeholder="Enter title..." value="<%=data.serviceTitle%>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Service Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="serviceDescription" value="<%=data.serviceDescription%>" required><%=data.serviceDescription%></textarea>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Add Service
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="addServices[]" class="form-control select-tag select-tag-service multi-select" multiple="multiple" required>
                                                        <% for (let service of service_data) { %>
                                                            <option value="<%= service._id%>"><%= service.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Add Health Packages
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="addHealthPackages[]" class="form-control select-tag select-tag-healthPackage multi-select" multiple="multiple" required>
                                                        <% for (let healthPackage of health_package_data) { %>
                                                            <option value="<%= healthPackage._id%>"><%= healthPackage.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Slug URL
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" placeholder="Enter title..." value="<%=data.slug%>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Hospital About Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="hospitalAboutTitle" placeholder="Enter title..." value="<%=data.hospitalAboutTitle%>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Hospital About Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="hospitalAboutDescription" value="<%=data.hospitalAboutDescription%>" required><%=data.hospitalAboutDescription%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Hospital About Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="hospitalAboutImage" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.hospitalAboutImage%>" >
                                                            <label>Recommended Size 500 * 500 </label>
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Hospital About Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="hospitalAboutImageAlt" placeholder="Enter thumbnail alt..." value="<%=data.hospitalAboutImageAlt%>" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Select Center For Excellence
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="centerForExcellence[]" class="form-control select-tag select-tag-center multi-select" multiple="multiple" required>
                                                        <% for (let center of center_data) { %>
                                                            <option value="<%= center._id%>"><%= center.excellenceTitle%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Video Thumbnail
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="videoThumbnail" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.videoThumbnail%>" >
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Hospital Video
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="hospitalVideo" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Video file</label>
                                                            <a href="<%= data.hospitalVideo%>" class="video-selected" target="_blank">View/Download Video File</a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="metaTitle" placeholder="Enter meta title..." value="<%=data.hospitalAboutImageAlt%>">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="metaDescription" value="<%=data.hospitalAboutImageAlt%>"><%=data.hospitalAboutImageAlt%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Video Tour (URL)
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="virtualTour" placeholder="Enter url..." value="<%=data.virtualTour%>">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Get Directions
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="getDirections" placeholder="Enter Directions..." value="<%=data.getDirections%>" required>
                                                    </div>
                                                </div>
                                               
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=true
                                                                name="checked" id="enable">Enable
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=false
                                                            name="checked" id="disable">Disable
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="customize_section">
                                                    <% if (data.hospitalGroupBannerData.length > 0) { %>
                                                    <% for (let hospital of data.hospitalGroupBannerData) { %>

                                                    <div class="form-group row new-gallery previous-image-row">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Hospital Banner Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <img class="small_image mt-2 mb-3 image-selected" src="<%= hospital.hospitalBannerImage%>" >
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label" >Hospital Banner Image Alt<span
                                                                class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%=hospital.bannerImageAlt%>
                                                            </div>
                                                        </div>


                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Banner Image Position
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%=hospital.bannerImagePosition%>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Banner Icon
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <img class="small_image mt-2 mb-3 image-selected" src="<%= hospital.bannerIcon%>" >
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label" >Banner Icon Alt<span
                                                                class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%=hospital.bannerIconAlt%>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Mobile Banner Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <img class="small_image mt-2 mb-3 image-selected" src="<%= hospital.mobileBannerImage%>" >
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 remove_gallery_image" data-id="<%= hospital._id%>" type="button"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                    <div class="row">
                                                        <div class="col-8">
                                                        </div>
                                                        <div class="col-4 add-btns">
                                                            <button type="button" class="btn btn-primary add_row"> Add</button>
                                                        </div>
                                                    </div>

                                                    <% } else { %>

                                                        <div class="form-group row new-gallery">

                                                            <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label">Hospital Banner Image
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <div class="custom-file">
                                                                        <input name="hospitalBannerImage" type="file" class="custom-file-input" required>
                                                                        <label class="custom-file-label">Choose Image file</label>
                                                                        <label>Recommended Size 1600 * 416 </label>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label" >Hospital Banner Image Alt<span
                                                                    class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" name="bannerImageAlt" placeholder="Enter banner image alt..." required>
                                                                </div>
                                                            </div>
    
    
                                                            <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label">Banner Image Position
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <input type="number" class="form-control" name="bannerImagePosition" placeholder="Enter image position..." required>
                                                                </div>
                                                            </div>
    
                                                            <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label">Banner Icon
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <div class="custom-file">
                                                                        <input name="bannerIcon" type="file" class="custom-file-input" required>
                                                                        <label class="custom-file-label">Choose Image file</label>
                                                                        <label>Recommended Size 112 * 109 </label>
                                                                    </div>
                                                                </div>
                                                                </div>
                                                                <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label" >Banner Icon Alt<span
                                                                    class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <input type="text" class="form-control" name="bannerIconAlt" placeholder="Enter thumbnail alt..." required>
                                                                </div>
                                                            </div>
    
                                                            <div class="col-lg-4">
                                                                <label class="col-lg-12 col-form-label">Mobile Banner Image
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-lg-12">
                                                                    <div class="custom-file">
                                                                        <input name="mobileBannerImage" type="file" class="custom-file-input" required>
                                                                        <label class="custom-file-label">Choose Image file</label>
                                                                        <label>Recommended Size 450 * 600 </label>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                            <div class="col-lg-2 mt--35">
                                                                <button class="btn btn-primary ml--40 add_row" type="button"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>

                                            <div class="col-xl-12">
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        
        const appendHTML = `<div class="form-group row new-gallery">

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Hospital Banner Image
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="hospitalBannerImage" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <label class="col-lg-12 col-form-label" >Hospital Banner Image Alt<span
                class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="text" class="form-control" name="bannerImageAlt" placeholder="Enter banner image alt..." required>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Banner Image Position
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="number" class="form-control" name="bannerImagePosition" placeholder="Enter image position..." required>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Banner Icon
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="bannerIcon" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <label class="col-lg-12 col-form-label" >Banner Icon Alt<span
                class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="text" class="form-control" name="bannerIconAlt" placeholder="Enter thumbnail alt..." required>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Mobile Banner Image
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="mobileBannerImage" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                </div>
            </div>
        </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_row" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`;

        $(document).on('click', '.add_row', function() {
            $('.customize_section').append(appendHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row', function() {
            $(this).parents('.new-gallery').remove();
        });

        let delete_images = [];

        $(document).on('click', '.remove_gallery_image', function() {
            delete_images.push($(this).data('id'));
            $(this).parents('.previous-image-row').remove();
        });

        $(document).ready(function() {

            $('.select-tag-service').val(<%- JSON.stringify(data.addServices)%>).trigger('change');
            $('.select-tag-center').val(<%- JSON.stringify(data.centerForExcellence)%>).trigger('change');
            $('.select-tag-location').val(<%- JSON.stringify(data.hospitalLocation ? data.hospitalLocation : "")%>).trigger('change');
            $('.select-tag-healthPackage').val(<%- JSON.stringify(data.addHealthPackages)%>).trigger('change');

            let checkbox = <%=data.checked%> 
            if (checkbox) {
                document.getElementById("enable").checked = true;
            } else {
                document.getElementById("disable").checked = true;
            }
         
            $('#enable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("disable").checked = false;
                }
            });

            $('#disable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("enable").checked = false;
                }
            });
        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                console.log('delete_images:::', delete_images)
                formData.append('delete_images', delete_images);
                console.log(formData);

                const resp = await asyncPost('/cms/hospitals/edit', '', formData);

                console.log(formData);

                if (resp && resp.success) {
                    alert('Hospital updated successfully');
                    // window.location.href = window.location.href;
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }


        });

        
    </script>
</body>

</html>