<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Users</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="edit-form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Name
                                                        <span class="text-danger">*</span>
                                                        
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="name" value="<%=data.name%>" placeholder="Enter title...">
												        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
												        <input name='_id' value='<%=data._id%>' style="display:none;">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Email
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="email" value="<%=data.email%>" placeholder="Enter email...">
                                                    </div>
                                                </div>

                                            <div class="form-group row">
                                                <div class="col-lg-2 col-form-label">
                                                    <label class="mb-4 select2-label">
                                                        Role Type<span class="text-danger">*</span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-4">
                                                    <select class="single-select select-role d-block" name="role" required>
                                                        <option value="" selected>Select Role</option>
                                                        <option value="ADMINISTRATOR"  <% if (data.role=="ADMINISTRATOR") { %> selected  <% } %> >ADMINISTRATOR</option>
                                                        <option value="CMS_USER" <% if (data.role=="CMS_USER") { %> selected  <% } %>>CMS USER</option>
                                                        <!-- <option value="CRM_USER" <% if (data.role=="CRM_USER") { %> selected  <% } %>>CRM USER</option> -->
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group user-role">
                                                <div class="col-lg-2 col-form-label">
                                                    <label class="mb-4 select2-label">
                                                        Role Permission
                                                    </label>
                                                </div>
                                                <div class="col-lg-4">
                                                    
                                                <select name="permission[]" class="form-control select-permission multi-select" multiple="multiple" >
                                                    <% for(let i=0; i < permissions.length; i++){%>
                                                        <option value="<%=permissions[i].value%>"><%=permissions[i].label%></option>
                                                    <% } %>
                                                         
                                                    
                                                    <!-- <option value="SITEGENERAL">Site General</option>
                                                    <option value="MYBLOGS">My Blogs</option>
                                                    <option value="MYDAUGHTERS">My daughters</option>                                                    
                                                    <option value="MYUSERS">My user</option> 
                                                    <option value="MYBLOGS">My blogs</option> -->
                                                </select>
                                                </div>
                                            </div>
                                            <div class="col-xl-12">
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        $(document).ready(function() {
            let selected_type = $('.select-role').val();
            if (selected_type == 'CMS_USER') {
                $('.select-permission').val(<%- JSON.stringify(data.permissions)%>).trigger('change');
            $('.user-role').show();
            } else {
                $('.user-role').hide();
            }

         
         $(document).on('change', '.select-role', function() {
            let selected_type = $(this).val();

            $('.user-role').hide();

            if (selected_type == 'CMS_USER') {
            $('.user-role').show();
            } else {
                $('.user-role').hide();
            } 
            });
        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/myusers/edit-users', '', formData);

                console.log(formData);

                if (resp && resp.success) {
                    alert('User updated successfully');
                    // window.location.href = window.location.href;
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }


        });

        
    </script>
</body>

</html>