<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Edit Procedure</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title" value='<%=data.title%>' placeholder="Enter title..." required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
												        <input name='_id' value='<%=data._id%>' style="display:none;">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Overview Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="overviewTitle"  value='<%=data.overviewTitle%>' placeholder="Enter title..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">OverviewDescription
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="overviewDescription"  value='<%=data.overviewDescription%>' required><%=data.overviewDescription%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Overview Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="overviewImage" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.overviewImage%>" >
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Overview Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="overviewImageAlt" value='<%=data.overviewImageAlt%>' placeholder="Enter thumbnail alt..." required>
                                                    </div>
                                                </div>

                                                <div class="customize_section-misc">
                                                    <% for (let miscData of data.procedureMiscData) { %>
                                                    <div class="form-group row new-gallery previous-misc-row">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Misc Title
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%=miscData.miscTitle%>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Misc Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <label>Recommended Size 400 * 300</label>
                                                                    <img class="small_image mt-2 mb-3 image-selected" src="<%= miscData.miscImage%>" >
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label" >Misc Image Alt<span
                                                                class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%= miscData.miscImageAlt%>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Misc Description
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <%= miscData.miscDescription%>
                                                            </div>
                                                        </div>

                                                        
                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 remove_misc_row" data-id="<%= miscData._id%>" type="button"><i class="fa fa-trash"></i></button>
                                                        </div>
                                                    </div>
                                                    <% } %>

                                                    <div class="row">
                                                        <div class="col-8">
                                                        </div>
                                                        <div class="col-4 add-btns">
                                                            <button type="button" class="btn btn-primary add_misc_row"> Add</button>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Doctor Names
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="doctorNames[]" class="form-control select-tag select-tag-doctornames multi-select" multiple="multiple" required>
                                                        <% for (let doctor of doctor_data) { %>
                                                            <option value="<%= doctor._id%>"><%= doctor.doctorName%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Patient Stories
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="patientStories[]" class="form-control select-tag select-tag-patientStories multi-select" multiple="multiple" required>
                                                        <% for (let patientStories of patient_stories_data) { %>
                                                            <option value="<%= patientStories._id%>"><%= patientStories.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Speciality
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="speciality" class="single-select select-post-type d-block select-tag-speciality" required>
                                                        <% for (let speciality of speciality_data) { %>
                                                            <option value="<%= speciality._id%>"><%= speciality.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Slug URL
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" value="<%= data.slug%>" placeholder="Enter title..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                <label class="col-lg-2 col-form-label">FAQs
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-lg-4">
                                                <select name="faqs[]" class="form-control select-tag select-tag-faqs multi-select" multiple="multiple" required>
                                                    <% for (let faq of faqs_data) { %>
                                                        <option value="<%= faq._id%>"><%= faq.title%></option>
                                                    <% } %>

                                                </select>
                                                </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Title
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <input type="text" class="form-control" name="metaTitle" value="<%= data.metaTitle%>" placeholder="Enter meta title...">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form-control" rows="4" id="comment" value="<%= data.metaDescription%>" name="metaDescription"><%= data.metaDescription%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Form Background Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="formBackgroundImage" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <label>Recommended Size 1600 * 400</label>
                                                            <img class="small_image mt-2 mb-3 image-selected" src="<%= data.formBackgroundImage%>" >
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Form Background Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="formBackgroundImageAlt" value="<%= data.formBackgroundImageAlt%>" placeholder="Enter thumbnail alt..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=true
                                                                name="checked" id="enable">Enable
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=false
                                                            name="checked" id="disable">Disable
                                                        </label>
                                                    </div>
                                                </div>
                                                </div>

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>

        const appendMiscHTML = `<div class="form-group row new-gallery">

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Misc Title
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="miscTitle" placeholder="Enter misc title..." required>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Misc Image
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <div class="custom-file">
                        <input name="miscImage" type="file" class="custom-file-input" required>
                        <label>Recommended Size 400 * 300</label>
                        <label class="custom-file-label">Choose Image file</label>
                    </div>
                </div>
                </div>
                <div class="col-lg-4">
                <label class="col-lg-12 col-form-label" >Misc Image Alt<span
                    class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="miscImageAlt" placeholder="Enter banner image alt..." required>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Misc Description
                </label>
                <div class="col-lg-12">
                    <textarea class="form-control" rows="4" id="comment" name="miscDescription"></textarea>
                </div>
            </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row-misc" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_misc_row" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`;

        $(document).on('click', '.add_misc_row', function() {
            $('.customize_section-misc').append(appendMiscHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row-misc', function() {
            $(this).parents('.new-gallery').remove();
        });

        let delete_misc_rows = [];

        $(document).on('click', '.remove_misc_row', function() {
            delete_misc_rows.push($(this).data('id'));
            $(this).parents('.previous-misc-row').remove();
        });
        
        $(document).ready(function() {

            // $('.select-tag-disease').val(<%- JSON.stringify(data.diseases)%>).trigger('change');
            $('.select-tag-doctornames').val(<%- JSON.stringify(data.doctorNames)%>).trigger('change');
            $('.select-tag-patientStories').val(<%- JSON.stringify(data.patientStories)%>).trigger('change');
            $('.select-tag-speciality').val(<%- JSON.stringify(data.speciality)%>).trigger('change');
            $('.select-tag-faqs').val(<%- data.faqs ? JSON.stringify(data.faqs) : '[]' %>).trigger('change');

            let checkbox = <%=data.checked%> 
            if (checkbox) {
                document.getElementById("enable").checked = true;
            } else {
                document.getElementById("disable").checked = true;
            }
            $('#enable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("disable").checked = false;
                }
            });

            $('#disable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("enable").checked = false;
                }
            });
        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));
                formData.append('delete_misc_rows', delete_misc_rows);

                const resp = await asyncPost('/cms/procedures/edit','' ,formData);               
                
                if (resp.success) {
                    alert('Procedure updated successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });

        
    </script>
</body>

</html>