<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">General Information</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Main Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title" value="<%= data.title%>" placeholder="Enter title...">
												        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                        <input type="hidden" name="_id" value="<%=data._id%>">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Main Image <span
                                                            class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="main_image_file" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <img src="<%= data.main_image_url%>" class="small_image mt-2 mb-3">
                                                        </div>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label" >Main Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" value="<%=data.main_image_alt%>" name="main_image_alt" placeholder="Enter main image alt..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">About Blogs General
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea name="about" class="form-control" cols="30" rows="5" required><%=data.about%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Press Release Subheading
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea name="press_release_subheading" class="form-control" cols="30" rows="5" required><%=data.press_release_subheading%></textarea>
                                                    </div>
                                                
                                                    <label class="col-lg-2 col-form-label">Testimonial Subheading
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea name="testimonial_subheading" class="form-control" cols="30" rows="5" required><%=data.testimonial_subheading%></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Reviews Subheading
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea name="review_subheading" class="form-control" cols="30" rows="5" required><%=data.review_subheading%></textarea>
                                                    </div>
                                                </div>

                                                

                                                <div class="form-group row">

                                                    <label class="col-lg-2 col-form-label">Meta Keywords
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="meta_keywords" value="<%=data.meta_keywords%>" placeholder="Enter meta keywords...">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea name="meta_description" class="form-control" cols="30" rows="5"><%=data.meta_description%></textarea>
                                                    </div>
                                                    
                                                </div>
                                                

                                            </div>
                                            <div class="col-xl-12">
                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-8 ml-auto">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>
        
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));
                const resp = await asyncPost('/cms/myblogs/general','' ,formData);
                
                console.log("resp::",resp);
                
                if (resp.success) {
                    alert('Info updated successfully');
                    window.location.href = window.location.href;
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }
        });

        
    </script>
</body>

</html>