<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>


    <%- include('../preloader') -%>

    <div id="main-wrapper">

        <%- include('../nav-header') -%>

        <%- include('../header') -%>

        <%- include('../sidebar') -%>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Press Release</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select class="form-control input-height" name="status">
                                                            <option value="">Select</option>
                                                            <option value="Enable">Enabled</option>
                                                            <option value="Disabled">Disabled
                                                            </option>

                                                        </select>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title"
                                                            placeholder="Enter title name..." required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf"
                                                            style="display:none;">
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                             


                                                    <label class="col-lg-2 col-form-label">Category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select class="form-control input-height" name="category">
                                                            <option value="">Select</option>
                                                            <%for(let i=0; i< pressrelease.length; i++){%>
                                                            <option value="<%=pressrelease[i].value%>"><%=pressrelease[i].key%></option>
                                                            <%}%>
                                                            <option value="Bathware">Bathware
                                                            </option>

                                                        </select>

                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Media Year
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select class="form-control input-height" name="financial_year">
                                                            <option value="">Select year</option>
                                                            <% for(let i=0; i < years.length; i++){%>
                                                            <option value="<%=years[i].value%>"><%=years[i].key%></option>
                                                            <% } %>
                                                            
        
                                                        </select>
        
                                                    </div>
                                                </div>
                                            </div>
                                           
                                 
                                         
                                            <label class="col-lg-2 col-form-label">Preview Image
                                                <span class="text-danger">*</span>
                                            </label>
                                          
                                            <div class="col-lg-4">
                                                <div class="custom-file">
                                                    <input name="previewimage" type="file" class="custom-file-input"
                                                        value="">
                                                    <label class="custom-file-label">Choose file</label>
                                                    <img class="small_image mt-2 mb-3 image-selected" src="">

                                            </div>

                                            </div>
                                            <label class="col-lg-2 col-form-label">Pdf File
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-lg-4">
                                                <input name="pdffile" type="file" class="custom-file-input"
                                                value="">
                                            <label class="custom-file-label">Choose file</label>
                                            <img class="small_image mt-2 mb-3 image-selected" src="">

                                            </div>
                                           
                                         </div>

                                        

                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary"
                                                            id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>

    </div>
    <%- include("../scripts") -%>

    <script>
            function change() {
                let store = $('#store').val()
                
                if (store == "Print") {
                    $('#storeprint').show()
                    $("#storetype").hide()

                }else if(store == ""){
                    $('#storeprint').hide()
                    $("#storetype").hide()

                }else{
                    $('#storeprint').hide()
                    $("#storetype").show()
                }
                // alert(store)
                // console.log("readmore", store);
            }


        $(document).ready(function () {

        });
        $(document).on('click', '#submit-form', async function () {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/media/add', '', formData);

                if (resp.success) {
                    alert('Media created successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }


        });
    </script>
</body>

</html>