<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS  </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Innovations</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title" placeholder="Enter title..." required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Name
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="name" placeholder="Enter name..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Categories
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="categories[]" id="categories" class="form-control select-tag select-tag-categories multi-select category-names" multiple="multiple" required>
                                                        <% for (let categories of categories_list) { %>
                                                            <option value="<%= categories._id%>"><%= categories.categoryName%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Products
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="products[]" id="products" class="form-control select-tag select-tag-products multi-select" multiple="multiple" required>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="image" type="file" class="custom-file-input" required>
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="imageAlt" placeholder="Enter image alt..." required>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Image 2
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="image2" type="file" class="custom-file-input" required>
                                                            <label class="custom-file-label">Choose Image 2 file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Image 2 Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="imageAlt2" placeholder="Enter image 2 alt..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Logo Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="logoImage" type="file" class="custom-file-input">
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Logo Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="logoImageAlt" placeholder="Enter image alt...">
                                                    </div>
                                                </div>

                                                <div class="form-group row"> 
                                                    <label class="col-lg-2 col-form-label">Slug URL
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" placeholder="Enter title..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Slipshield
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="slipshield[]" id="slipshield" class="form-control select-tag select-tag-slipshield multi-select" multiple="multiple" required>
                                                        <% for (let slipshield of slipshield_data) { %>
                                                            <option value="<%= slipshield._id%>"><%= slipshield.heading%></option>
                                                        <% } %>
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Video Link
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="videoLink" placeholder="Enter video link..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Button Link
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="buttonLink" placeholder="Enter button link..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Button Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="buttonTitle" placeholder="Enter Button Title..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="description"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Title 1
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title1" placeholder="Enter Title..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Description 1
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="description1"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Description 2
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="description2"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="metaTitle" placeholder="Enter meta title...">
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="metaDescription"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Technology Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="technologyTitle" placeholder="Enter technology title..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Technology Description
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control summernote" rows="4" id="comment" name="technologyDescription" required></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Technology Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="technologyImage" type="file" class="custom-file-input" required>
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Technology Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="technologyImageAlt" placeholder="Enter image alt..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Benefits Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="benefitsTitle" placeholder="Enter benefits title..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Benefits Button Link
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="benefitsButtonLink" placeholder="Enter benefits button link..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Benefits Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="benefitsImage" type="file" class="custom-file-input" required>
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 400</label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Benefits Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="benefitsImageAlt" placeholder="Enter image alt..." required>
                                                    </div>
                                                </div>
    
                                                <div class="customize_section">
                                                    <div class="form-group row new-gallery">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Title
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="innovationsTitle" placeholder="Enter title..." required>
                                                            </div>
                                                        </div>
        
                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Logo
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="innovationsLogo" type="file" class="custom-file-input" required>
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 88 * 83</label> -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Logo Alt
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="innovationsLogoAlt" placeholder="Enter logo alt..." required>
                                                            </div>
                                                        </div>
        
                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Description
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <textarea class="form-control" rows="4" id="comment" name="innovationsDescription" required></textarea>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 add_row" type="button"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="customize_section_attribute">
                                                    <div class="form-group row new-gallery">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Attribute Title
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="innovationsAttributeTitle" placeholder="Enter title..." required>
                                                            </div>
                                                        </div>
        
                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Attribute Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="innovationsAttributeImage" type="file" class="custom-file-input" required>
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 88 * 83</label> -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Innovations Attribute Image Alt
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="innovationsAttributeImageAlt" placeholder="Enter image alt..." required>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 add_row_attribute" type="button"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=true
                                                                name="checked" id="enable">Enable
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=false
                                                            name="checked" id="disable">Disable
                                                        </label>
                                                    </div>
                                                </div>
                                                </div> 

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>

        const appendHTML = `<div class="form-group row new-gallery">

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Innovations Title
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="innovationsTitle" placeholder="Enter title..." required>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Innovations Logo
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <div class="custom-file">
                        <input name="innovationsLogo" type="file" class="custom-file-input" required>
                        <label class="custom-file-label">Choose Image file</label>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Innovations Logo Alt
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <input type="text" class="form-control" name="innovationsLogoAlt" placeholder="Enter logo alt..." required>
                </div>
            </div>

            <div class="col-lg-4">
                <label class="col-lg-12 col-form-label">Innovations Description
                    <span class="text-danger">*</span>
                </label>
                <div class="col-lg-12">
                    <textarea class="form-control" rows="4" id="comment" name="innovationsDescription" required></textarea>
                </div>
            </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_row" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`;

        const appendAttributeHTML = `<div class="form-group row new-gallery">

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Innovations Attribute Title
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="text" class="form-control" name="innovationsAttributeTitle" placeholder="Enter title..." required>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Innovations Attribute Image
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="innovationsAttributeImage" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                    <!-- <label>Recommended Size 88 * 83</label> -->
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Innovations Attribute Image Alt
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="text" class="form-control" name="innovationsAttributeImageAlt" placeholder="Enter image alt..." required>
            </div>
        </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row_attribute" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_row_attribute" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`

        $(document).on('click', '.add_row', function() {
            $('.customize_section').append(appendHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row', function() {
            $(this).parents('.new-gallery').remove();
        });

        $(document).on('click', '.add_row_attribute', function() {
            $('.customize_section_attribute').append(appendHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row_attribute', function() {
            $(this).parents('.new-gallery').remove();
        });
        
        $(document).ready(function() {

        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/innovations/add','' ,formData);               
                
                if (resp.success) {
                    alert('Innovations created successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });

        
    </script>
    <script>
        $(document).on('change', '.category-names', async function() {

            let category = $(this).val();
            console.log(category.join(","));
            const resp = await asyncGet("/api/products/getProductsByCategories?category="+category, '');

            if(resp.success) {
                let cat = ""
                    for(curators of resp.data) {
                        cat = '<option value="'+curators._id+'">'+curators.productName+'</option>'
                        $('#products').append(cat)
                    }
            } else {
                if (resp.message) {
                    alert(resp.message);
                } else {
                    alert(resp.error);
                }
            }
        })
    </script>
</body>

</html>