<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Somany CMS </title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon.ico">
    <%-  include('../styles') -%>
</head>

<body>

    
    <%- include('../preloader') -%>
    
    <div id="main-wrapper">

       <%- include('../nav-header') -%>
       
       <%- include('../header') -%>
       
       <%- include('../sidebar') -%>

       <!--**********************************
            Content body start
        ***********************************-->
       <div class="content-body">
            <!-- row -->
            <div class="container-fluid">
                <div class="row">
                  
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Add Blogs</h4>
                            </div>
                            <div class="card-body">
                                <div class="form-validation">
                                    <form class="form-valide" method="post" enctype="multipart/form-data" id="cms_form">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Title
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="title" placeholder="Enter title..." required>
                                                        <input name='_csrf' value='<%=_csrf%>' id="csrf" style="display:none;">
                                                    </div>
                                                </div>

                                                <div class="form-group row">                                                     
                                                    <label class="col-lg-2 col-form-label">Slug URL
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="slug" placeholder="Enter slug..." required>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Publish Date
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="date" class="form-control" name="date" placeholder="Select publish date" required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Category
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <select name="category" class="single-select select-tag-category select-post-type d-block" required>
                                                            <% for (let category of category_data) { %>
                                                                <option value="<%= category._id%>"><%= category.categoryName%></option>
                                                            <% } %>
        
                                                        </select>
                                                    </div>

                                                    <label class="col-lg-2 col-form-label">Tags
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <select name="tags[]" id="tags" class="form-control select-tag select-tag-tags multi-select doctor-tags" multiple="multiple" required>
                                                        <% for (let tags of tags_data) { %>
                                                            <option value="<%= tags._id%>"><%= tags.title%></option>
                                                        <% } %>
    
                                                    </select>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label"> Description
                                                    </label>
                                                    <div class="col-lg-10">
                                                        <textarea class="form- summernote" rows="4" id="comment" name="description" required></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Blogs Thumbnail Image
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <div class="custom-file">
                                                            <input name="blogsThumbnailImage" type="file" class="custom-file-input" required>
                                                            <label class="custom-file-label">Choose Image file</label>
                                                            <!-- <label>Recommended Size 1600 * 553 </label> -->
                                                        </div>
                                                    </div>
                                                    <label class="col-lg-2 col-form-label" >Blogs Thumbnail Image Alt<span
                                                        class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="blogsThumbnailImageAlt" placeholder="Enter image alt..." required>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Meta Title
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <input type="text" class="form-control" name="metaTitle" placeholder="Enter meta title...">
                                                    </div>
                                                    <label class="col-lg-2 col-form-label">Meta Description
                                                    </label>
                                                    <div class="col-lg-4">
                                                        <textarea class="form-control" rows="4" id="comment" name="metaDescription"></textarea>
                                                    </div>
                                                </div>

                                                <div class="form-group row">
                                                    <label class="col-lg-2 col-form-label">Status
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-lg-4">
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=true
                                                                name="checked" id="enable">Enable
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" value=false
                                                            name="checked" id="disable">Disable
                                                        </label>
                                                    </div>
                                                </div>
                                                </div>               
                                                
                                                <div class="customize_section">
                                                    <div class="form-group row new-gallery">

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Blogs Banner Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="blogsBannerImage" type="file" class="custom-file-input" required>
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 1600 * 400 </label> -->
                                                                </div>
                                                            </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label" >Blogs Banner Image Alt<span
                                                                class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" name="blogsImageAlt" placeholder="Enter banner image alt..." required>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-4">
                                                            <label class="col-lg-12 col-form-label">Blogs Mobile Banner Image
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-lg-12">
                                                                <div class="custom-file">
                                                                    <input name="blogsMobileImage" type="file" class="custom-file-input" required>
                                                                    <label class="custom-file-label">Choose Image file</label>
                                                                    <!-- <label>Recommended Size 450 * 600 </label> -->
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-2 mt--35">
                                                            <button class="btn btn-primary ml--40 add_row" type="button"><i class="fa fa-plus"></i></button>
                                                        </div>
                                                    </div>
                                                </div>

                                            <div class="col-xl-12">                                                
                                                <div class="form-group row">
                                                    <div class="col-lg-2">
                                                    </div>
                                                    <div class="col-lg-10">
                                                        <button type="button" class="btn btn-primary" id="submit-form">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--**********************************
            Content body end
        ***********************************-->

        <%- include("../footer") -%>
        
    </div>
    <%- include("../scripts") -%>

    <script>

        const appendHTML = `<div class="form-group row new-gallery">

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Blogs Banner Image
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="blogsBannerImage" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <label class="col-lg-12 col-form-label" >Blogs Banner Image Alt<span
                class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <input type="text" class="form-control" name="blogsImageAlt" placeholder="Enter banner image alt..." required>
            </div>
        </div>

        <div class="col-lg-4">
            <label class="col-lg-12 col-form-label">Banner Mobile Banner Image
                <span class="text-danger">*</span>
            </label>
            <div class="col-lg-12">
                <div class="custom-file">
                    <input name="blogsMobileImage" type="file" class="custom-file-input" required>
                    <label class="custom-file-label">Choose Image file</label>
                </div>
            </div>
        </div>

        <div class="col-lg-2 mt--35">
            <button class="btn btn-danger remove_row" type="button"><i class="fa fa-minus"></i></button>
            <button class="btn btn-primary add_row" type="button"><i class="fa fa-plus"></i></button>
        </div>
        </div>`;

        $(document).on('click', '.add_row', function() {
            $('.customize_section').append(appendHTML);
            $('.summernote').summernote({
                height: 150,
                minHeight: null,
                maxHeight: null,
                focus: !1
            });
        });

        $(document).on('click', '.remove_row', function() {
            $(this).parents('.new-gallery').remove();
        });
        
        $(document).ready(function() {
            $('#enable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("disable").checked = false;
                }
            });

            $('#disable').change(function() {
                if ($(this).is(":checked")) {
                    document.getElementById("enable").checked = false;
                }
            });
        });
        $(document).on('click', '#submit-form', async function() {
            const is_form_valid = $("#cms_form").valid();

            if (is_form_valid) {
                let formData = new FormData(document.querySelector('#cms_form'));

                const resp = await asyncPost('/cms/blogs/add','' ,formData);               
                
                if (resp.success) {
                    alert('Blogs created successfully');
                    location.reload();
                } else {
                    if (resp.message) {
                        alert(resp.message);
                    } else {
                        alert(resp.error);
                    }
                }
            }

            
        });

        
    </script>
</body>

</html>